\__pycache__
\config.json
\.vscode


# Ignore files in subdirectories of mobile-app
mobile-app/*.iml
mobile-app/.gradle
mobile-app/local.properties
mobile-app/.idea/caches
mobile-app/.idea/libraries
mobile-app/.idea/modules.xml
mobile-app/.idea/workspace.xml
mobile-app/.idea/navEditor.xml
mobile-app/.idea/assetWizardSettings.xml
mobile-app/.DS_Store
mobile-app/build
mobile-app/captures
mobile-app/.externalNativeBuild
mobile-app/.cxx
mobile-app/local.properties
